
{% include 'dashboard/cabecalho.html' %}

<h1 class="mb-4">Lista Professores</h1>

<div class="row">


    

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>

                {% for item in lista %}
                <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>
                    <a href="/professor/editar/{{item[0]}}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/professor/remover/{{item[0]}}" class="btn btn-danger btn-sm"
                    onclick="return confirm('Tem certeza que deseja remover este professor?');">
                    Remover
                </a>
                </td>
            </tr>

            {% endfor %}



        </thead>
        </tbody>
    </table>
</div>


{% include 'dashboard/rodape.html' %}