{% include 'dashboard/cabecalho.html' %}


<h1 class="mb-4">{{valor_recebido}}</h1>

<a href="/saudacao1/João">Parâmetro de rota</a> <br><br>

<a href="saudacao2/?nome=Maria">Query String <a>


    <form action="/login" method="POST">
        <input type="text" name="usuario" placeholder="Login" > <br><br>
        <input type="password" name="senha" placeholder="Senha"> <br><br>
        <input type="email" name="email" placeholder="E-mail"> <br><br>

        <input type="submit" value="Enviar">
    </form>


{% include 'dashboard/rodape.html' %}