
    {% include 'dashboard/cabecalho.html' %}

        <h1 class="mb-4">Painel Administrativo</h1>

        <div class="row">

                <div class="col-md-6 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Cadastro de Alunos</h5>
                            <p class="card-text">Gerencie o cadastro de alunos, edite ou remova registros.</p>
                            <a href="#" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Cadastro de Professores</h5>
                            <p class="card-text">Gerencie o cadastro dos professores vinculados à instituição.</p>
                            <a href="#" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                </div>

        </div>
 
{% include 'dashboard/rodape.html' %}